body{ background-color: bisque;
}
header{
    background-color: yellowgreen !important;
    border: 4px solid blue;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white    ;
}
header{
    padding: 20px;
}
nav{
    background-color: darkcyan;
    border: 3px solid yellowgreen;
    border-radius: 22px;
    }
nav p{
    text-align: center;
    color: aliceblue;
    font-size: 40px;
}
section{
    width: 60%;
    border: 3px solid darkorchid;
    padding: 15px;
    border-radius: 25px;
    margin: 10px auto;
    background: linear-gradient( red, orange, yellowgreen);
}
form{
    background: silver;
    width: 90%;
    border-radius: 20ps;
    margin: 10px auto;
    box-shadow: outset 0 0 30px rgb(29, 74, 199);
}
fieldset{
    border-style: none;
}
label{
    font-size: 25px; 
}
textarea{
    resize: both;
    max-height: 100px;
}
input:focus, textarea:focus{
    border-color: aquamarine;
    cursor: pointer;
box-shadow: 0 0 30px black;
outline: 0 none;
}
form button{
    width: 70%;
    margin: 20px auto;
    height: 20px;
    background-color: linear-gradient(blue, white);
    color: black;
    border-radius: 30px;
}
form button: :hover{
    background-color: red;
    text-decoration: underline;
    color: black;
    cursor: pointer;
}
form input{
    height: 30px;
    box-sizing: border-box;
    color: black;
    outline: none;
    border: 4px;
}
footer{
    font-size: 32px;
    text-align: center;
    color: rgb(170, 204, 21);
}